<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        >
    <testsuites>
        <testsuite name="Behat Partial Runner Tests">
            <directory>tests/Behat/PartialRunner</directory>
        </testsuite>
    </testsuites>
</phpunit>